button{
    margin-left: 5px;
}
p{
    color: green;
    margin-top: 5px;
}
.table{
    text-align: center;
    width:900px;
    row-gap: 3px;
}
.container img{
    height:300px;
    width:300px;
    border-radius: 50%;
    margin-left: 200px;
}