
    <ul>
        <li>
            <a routerLink="/login">LogOut</a>
        </li>
        <li>
            <a routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li>
            <a routerLink="/contact"  routerLinkActive="active">Feedback</a>
        </li>
        <li>
            <a routerLink="/order"  routerLinkActive="active">OrderNow</a>
        </li>
        <li>
            <a routerLink="/cart"  routerLinkActive="active">Cart</a>
        </li>
        <li>
            <a routerLink="/menu"  routerLinkActive="active">Menu</a>
        </li>
        <li>
            <a routerLink="/home"  routerLinkActive="active">Home</a>
        </li>
        <li class="lc" routerLink="/home">
            <img src="./../../assets/image/clipart-chef-15-removebg-preview.png" alt="logo" class="logo">
            <p>foodMUNCH (welcomes {{c}})</p>
        </li>
    </ul>


